
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        <form action="/Produto/Adiciona">
            <label>Nome</label>  
            <input type="text" name="nome" />
            <label>Preço</label>
            <input type="text" name="preco" />
            <label>categoria</label>
            <input type="text" name="categoriaId" />
            <label>descricao</label>
            <textarea name="descricao"></textarea>
            <label>Quantidade</label>
            <input type="text" name="quantidade" />
            <input type="submit" value="Enviar" />
        </form>
    </div>
</body>
</html>
